.card {
    width: 18rem;
    position: fixed;
    right: 0;
    bottom: 0px;
    color:#369;
    background-color: rgba(51, 102, 153, 0.089);
    }

    .card-body {
        flex: 1 1 auto;
        padding: 0.5rem;
        }

        span:hover {
            cursor: pointer;
        }

        .chat-bobble{
            display: inline-block;
            
        }